/*
#F4F4F4 - very, very, very light grey
#D8D8D8 - light grey
#FFD300 - yellow
#404040 - very dark grey
*/


html, body {
  margin: none;
  height: 100%;
  font-family: 'Noto Sans', sans-serif;
  background-color: #000000;
}

/* ~~~~~~Login Page~~~~~~ */
.bg-container {
  margin: none;
  height: 100%;
  background-color: black;
  background-image: url(../images/login-photo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: left;
  background-position-y: 80%;
}

.login-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.get-error-message {
  color: red;
  font-size: 6vh;
}

.login-title {
  font-size: 10vh;
  color: #FAD474;
}

.input-section {
  color: #FAD474;
  width: 70vw;
  min-width: fit-content;
  height: 30vh;
  min-height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  font-size: 4vh;
}

.input-field {
  font-size: 3vh;
  height: 4vh;
  width: 20vh;
  margin-right: 2vw;
}

.sign-in-button {
  font-size: 3vh;
  border: solid #FAD474;
  background-color: #000000;
  padding: 2%;
  border-radius: 20%;
  color: #FAD474;
}

.login-error {
  color: red;
  background-color: white;
  font-size: 4vh;
}

/* ~~~~~~Dashboard Page~~~~~~ */

.dash-main {
display: flex;
flex-direction: column;
}

.nav-dash {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
}

.logo {
display: flex;
flex-direction: column;
align-items: center;
border: solid #FFD300;
border-radius: 10px;
background-color: #F4F4F4;
padding-left: 2vw;
padding-right: 2vw;
height: 13vh;
}

.overlook-txt {
  font-size: 3vh;
  margin-bottom: 1px;
  color: #404040;
}

.apiary-txt {
  font-size: 2vh;
  margin-top: 1px;
  color:  #404040;
}

.welcome-txt-section {
  width: 50vw;
  border: solid #FFD300;
  border-radius: 10px;
  background-color:#F4F4F4 ;
  height: 13vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-txt {
  font-size: 6vh;
  color: #404040;
}

.dash-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-date-section {
  border: solid #FFD300;
  border-radius: 7px;
  background-color: #F4F4F4;
  display: flex;
  margin-top: 40px;
  width: 70vw;
  height: 8vh;
  justify-content: space-evenly;
  align-items: center;
  color: #404040;
}

.date-selector-label {
    font-size: 2vh;
}

#date-selector {
  margin-left: 20px;
  margin-right: 20px;
}

.search-avail-button {
  font-size: 2vh;
  border-color: #FFD300;
  border-radius: 3PX;
  background-color: #D8D8D8;
}

.date-select-alert-wrapper {

}

.date-select-avail-alert-wrapper {
  font-size: 2vh;
}

.date-select-alert {
  color: red;
}

.totalSpent-wrapper {
  border: solid #FFD300;;
  border-radius: 7px;
  background-color:#F4F4F4;
  margin-top: 40px;
  display: flex;
  width: 26vw;
  height: 17vh;
  flex-direction: column;
  align-items: center;
}

.total-spent-header {
  font-size: 3vh;
  margin-bottom: 1px;
  color:#404040;
}

.total-spent-txt {
  font-size: 3vh;
  margin-top: 11px;
  color: #404040;;
}

.bookings-section {
  border: solid #FFD300;
  border-radius: 7px;
  background-color:#F4F4F4;
  display: flex;
  width: 70vw;
  margin-top: 30px;
  margin-bottom: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.bookings-txt {
  font-size: 2.5vh;
  text-decoration: underline;
  color:#404040;
}

.thumbnails-of-bookings {
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


/* ~~~~~~Availible Rooms Page~~~~~~ */

.availible-main {
display: flex;
flex-direction: column;
}

.nav-avail {
  border-radius: 7px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
}

.avail-nav-txt-wrapper {
  width: 50vw;
  border: solid #FFD300;
  border-radius: 10px;
  background-color: #F4F4F4;
  height: 13vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.avail-nav-txt {
font-size: 6vh;
color: #404040;
}

.go-to-dash-button-wrapper {
height: 10vh;
}

.go-to-dash-button {
  margin: 3vh;
  font-size: 4vh;
  border-radius: 7px;
  border-color: #FFD300;
}

.avail-room-disp-filter {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-wrapper {

}

.type-select-label {
font-size: 2vh;
}

.filter-select {
font-size: 2vh;
}

option {

}

.filter-button{
  font-size: 2vh;
  border-radius: 3px;
  border-color: #FFD300;
  background-color: #F4F4F4;
}

.no-avail-for-type-alert {
  font-size: 2vh;
  color: red;
  padding: 15px;
}

.avail-room-full-displays {
  border: solid #FFD300;
  border-radius: 7px;
  background-color: #F4F4F4;
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80vw;
}

.single-avail-room {
  display: flex;
  flex-direction: column;
  margin: 40px;
  align-items: center;
  justify-content: center;
}

.single-avail-room-title {
  font-size: 1.75vh;
}

.single-avail-room-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.5vh;
}

.details {

}

.book-room-button {
  font-size: 2vh;
  border-radius: 3px;
  border-color:#FFD300;
  background-color: #D8D8D8;
}

/*~~~~~~Misc~~~~~~ */

.hide {
  display: none;
}

.hover {
  cursor: pointer;
}

