/*
#fccd47 - gold
#091E2A - dark dark blue
*/

body {
  font-family: 'Noto Sans', sans-serif;
}

/* ~~~~~~Dashboard Page~~~~~~ */

.dash-main {
display: flex;
flex-direction: column;
}

.nav-dash {
  border: solid;
  border-radius: 7px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
}

.logo {
display: flex;
flex-direction: column;
align-items: center;
border: solid;
border-radius: 10px;
padding-left: 2vw;
padding-right: 2vw;
height: 13vh;
}

.overlook-txt {
  font-size: 3vh;
  margin-bottom: 1px;
}

.apiary-txt {
  font-size: 2vh;
  margin-top: 1px;
}

.welcome-txt-section {
  width: 50vw;
  border: solid;
  border-radius: 10px;
  height: 13vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-txt {
  font-size: 6vh;
}

.dash-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-date-section {
  border: solid;
  border-radius: 7px;
  display: flex;
  margin-top: 40px;
  width: 70vw;
  height: 8vh;
  justify-content: space-around;
  align-items: center;
}

.date-selector-label {

}

#date-selector {

}

.search-avail-button {

}

.totalSpent-wrapper {
  border: solid;
  border-radius: 7px;
  margin-top: 40px;
  display: flex;
  width: 26vw;
  height: 17vh;
  flex-direction: column;
  align-items: center;
}

.total-spent-header {
  font-size: 3vh;
  margin-bottom: 1px;
}

.total-spent-txt {
  font-size: 3vh;
  margin-top: 11px;
}

.bookings-section {
  border: solid;
  border-radius: 7px;
  display: flex;
  width: 70vw;
  margin-top: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.bookings-txt {
  font-size: 2.5vh;
  text-decoration: underline;
}

.thumbnails-of-bookings {
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


/* ~~~~~~Availible Rooms Page~~~~~~ */

.availible-main {
display: flex;
flex-direction: column;
}

.nav-avail {
  border: solid;
  border-radius: 7px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
}

.avail-nav-txt-wrapper {
  width: 50vw;
  border: solid;
  border-radius: 10px;
  height: 13vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.avail-nav-txt {
font-size: 6vh;
}

.go-to-dash-button-wrapper {
border: solid;
border-radius: 9px;
height: 10vh;
}

.go-to-dash-button {
  margin: 3vh;
  font-size: 4vh;
  border-radius: 3px;
}

.avail-room-disp-filter {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-wrapper {

}

.type-select-label {
font-size: 2vh;
}

.filter-select {
font-size: 2vh;
}

option {

}

.filter-button{
  font-size: 2vh;
  border-radius: 3px;
}

.avail-room-full-displays {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80vw;
}

.single-avail-room {
  display: flex;
  flex-direction: column;
  margin: 40px;
  align-items: center;
  justify-content: center;
}

.single-avail-room-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.5vh;
}

.details {

}

.book-room-button {
  font-size: 2vh;
  border-radius: 3px;
}

/*~~~~~~Misc~~~~~~ */

.hide {
  display: none;
}

